.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    margin-right: 94px;
  }

  &__firsttext {
    color: var(--accent-color);
  }
  &__secondtext {
    color: black;
  }

  &--accent {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    color: var(--second-color);
  }
}
