.social-list {
  display: flex;
  justify-content: center;

  &--cards {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.social {
  display: block;
  width: 206px;
  height: 80px;
  margin-right: 93px;

  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social__link:hover &,
    .social__link:focus & {
      fill: var(--second-color);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--second-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
