.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin: 0 auto;
}

&__container,
.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: var(--accent-color);

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      bottom: 0;
      border-radius: 2px;
    }
  }
}

.navigation__link,
.address__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
}

.navigation__link:hover,
.address__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__list {
  display: flex;
  margin-right: 305px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.address {
  margin-right: auto;

  &__list {
    display: flex;
  }

  &__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
