.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &__modal-btn {
    display: block;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #f5f4fa;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__modal-btn:hover {
    color: var(--second-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__item:not(:last-child) {
    display: block;
    margin-right: 8px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .button-list__item:nth-child(-n + 3) {
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}
