.product {
  position: relative;
  overflow: hidden;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
    color: #212121;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--third-color);
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__description {
    display: block;
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }

  &__text {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding: 63px 24px;
    bottom: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);

    .device-list__link:hover & {
      transform: translateY(0);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product__description--tablet {
    padding-bottom: 56px;
  }
}
