.hero {
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  &__title {
    display: block;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-color);
  }
}
