.team {
  margin: 0 auto;
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  &__name {
    display: block;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-color);
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__item {
    max-width: 450px;
    background-color: var(--second-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &__description {
    display: block;
    padding-top: 30px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .team__item {
    display: block;
    max-width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
