.geolocation {
  color: var(--second-color);
}

.footer {
  text-align: center;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    margin-bottom: 60px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--accent-color);
    }
  }

  /* &__section {
    display: flex;
    align-items: baseline;
  } 

  &__container {
    margin-right: 70px;
    width: 231px;
  }*/

  &__item:not(:last-child) {
    display: block;
    margin-bottom: 9px;
  }

  &--social__link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--social__icon {
    fill: var(--second-color);
  }
}
