.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__text {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--third-color);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__link {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: var(--accent-color);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--third-color);

    &::before {
      content: "";
      display: inline-block;
      min-width: 16px;
      min-height: 15px;
      margin-right: 8px;
      border: 2px solid #212121;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      .chekbox__input:checked + & {
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        background-origin: border-box;
        background-color: var(--accent-color);
        border-color: transparent;
      }
    }
  }
}
